@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  background: url(https://www.laboontech.com/assets/img/hero-bg.png) fixed center;
  font-family: 'Open Sans', sans-serif;
}

.sologan {
  font-size: 32px;
  line-height: 1.2;
  font-family: 'Nunito', sans-serif;
}

.sub-sologan {
  font-family: 'Nunito', sans-serif;
}

.shadow-blue {
  box-shadow: 0px 5px 30px rgb(65 84 241 / 40%);
}

.title {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .sologan {
    font-size: 48px;
  }
}